@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #ffd7a8;
}

::selection {
  background: var(--accent);
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: var(--accent);
  color: black;
  text-shadow: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #eeeeee;
  --color-secondary: oklch(20.5% 0 0);
  --color-terciary: oklch(20.5% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
